html {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
  background-color: #aaaaaa;
  margin: 0;
}

.cardcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.page-bg {
  min-height: 30vh;
  width: 50vw;
  background-image: url("food.webp");
  background-repeat: no-repeat;
  background-position: center center;

  background-attachment: scroll; /* Not fixed */
  padding: 20px;
  z-index: -1;
}

.recipe-card {
  width: 50vw;
  margin: -80px auto 0;
  border: #aaaaaa 1px solid;
  padding: 20px;
  border-radius: 30px;
  z-index: 1;
  background: #ffffff;
}

.meta {
  color: #aaaaaa;
  font-weight: normal;
  margin-top: -10px;
  margin-bottom: 20px;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.likes {
  content: "♡";
  display: inline-block;
  font-size: 20px;
  color: #fcfc71;
  background: #ffdd1a;
  border-radius: 50px;
  padding: 6px 10px;
  margin-right: 5px;
}

hr {
  margin: 20px 50px;
  border: none;
  height: 1px;
  background-color: #c5c5c5;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

ul li::before {
  content: "✓";
  display: inline-block;
  font-size: 9px;
  color: #fec700;
  background: #fff995;
  border-radius: 33px;
  padding: 4px 7px;
  margin-right: 5px;
}

ul li {
  margin-bottom: 15px;
}

img {
  max-width: 40vw;
}

ol {
  list-style: none;
  counter-reset: item;
  padding-left: 2.5em;
}

ol li {
  position: relative;
  margin-bottom: 0.75em;
  line-height: 1.5;
}

ol li::before {
  content: counter(item);
  counter-increment: item;
  position: absolute;
  left: -2.5em;
  width: 1.8em;
  height: 1.8em;
  background-color: #d3d3d3; /* Light gray */
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.9em;
}


/* Mobile View: Full width (100vw) */
@media (max-width: 768px) {
  html {
    padding: 20px; 
  }

  .cardcontainer {
    padding: 0;
  }

  .page-bg,
  .recipe-card {
    width: 90vw;           
  
    
  }

  .page-bg {
    border-radius: 0;
    padding: 15px;
    min-height: 35vh;
  }

  .recipe-card {
    margin: -60px 0 0;      
    padding: 15px;
    border-radius: 20px 20px 0 0;
    
  }

  img {
    max-width: 80vw;        
  }

  hr {
    margin: 20px 15px;
  }
}